<%= form_for :deck, url: decks_path do |f| %>

  <% if @deck.errors.any? %>
    <div id="error_explanation">
      <h2> <%= pluralize(@deck.errors.count, "error")%>
        prohibited this article from being saved:
      </h2>
        <ul>
          <% @deck.errors.full_messages.each do |msg|%>
          <li><%=msg%> </li>
          <%end%>
        </ul>
      </div>
    <%end%>
<p>
  <%= f.label :name %>
  <%= f.text_field :name%>
</p>

<p>
  <%= f.label :character_class%>
  <%= f.text_field :character_class%>
</p>

<p>
  <%= f.label :style%>
  <%= f.text_field :style%>
</p>

<p>
  <%= f.submit%>
</p>

<%end%>
